{% extends 'core/layout.html' %}

{% block content %}
<div class="row">
    <div class="col">
        <h1 class="orange">Detalles del apiario "{{ apiary }}" de {{ user.username }}</h1>
    </div>
</div>
<div class="row">
    <div class="col">
        <table class="table table-bordered mt-5">
            <thead>
                <tr>
                    {% for h in history_table.headers %}
                        <th scope="col" class="text-center">{{ h }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for row in history_table.body_table %}
                    <tr>
                        {% for cell in row %}
                            <td class="text-center">{{ cell }}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
          </tbody>
        </table>
    </div>
</div>
{% endblock %}
