{% extends 'core/layout.html' %}

{% block content %}
<div class="row">
    <div class="col">
        <h1 class="orange">Detalles del apiario "{{ apiary }}" de {{ user.username }}</h1>
    </div>
</div>

<div class="row">
    <div class="col">
        <div class="card mt-5">
            <div class="card-body">
                <h4 class="card-text">
                    Actualmente el apiario tiene  
                    {% if apiary.status.hives == 1 %}
                        1 colmena
                    {% else %}
                        {{ apiary.status.hives }} colmenas
                    {% endif %}
                    y  
                    {% if apiary.status.nucs == 1 %}
                        1 núcleo. 
                    {% else %}
                        {{ apiary.status.nucs }} núcleos. 
                    {% endif %}
                </h4>

                <a href="{% url 'apiary_edit' apiary.pk %}" class="btn btn-warning mt-2">
                    Actualizar apiario
                </a>
                <a href="{% url 'harvest_new' %}" class="btn btn-warning mt-2">Cargar cosecha</a>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col">
        <h4 class="mt-5"> Listado de cosechas </h4>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col" class="text-center">Fecha</th>
                    <th scope="col" class="text-center">Cantidad cosechada</th>
                </tr>
            </thead>
            <tbody>
                {% for harvest in harvest_list %}
                    <tr>
                        <td class="text-center">{{ harvest.date }}</td>
                        <td class="text-center">{{ harvest.amount }}</td>
                    </tr>
                {% endfor %}
          </tbody>
        </table>
    </div>
</div>
<div class="row">
    <div class="col">
        <h4 class="mt-5"> Evolución de colmenas y núcleos </h4>
        <table class="table table-bordered">
            <thead>
                <tr>
                    {% for h in history_table.headers %}
                        <th scope="col" class="text-center">{{ h }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for row in history_table.body %}
                    <tr>
                        {% for cell in row %}
                            <td class="text-center">{{ cell }}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
          </tbody>
        </table>
    </div>
</div>

<div class="row mt-5">
    <div class="col">
        {{ div|safe }}
        {{ script|safe }}
    </div>
</div>

{% endblock %}
