{% extends 'core/layout.html' %}

{% block content %}
    <div class="row">
        <div class="col-12">
            <h2></h2>
        </div>
    </div>
    <div class="row">
        {% if error_message %}
            <div class="col-12">
                <div class="alert alert-danger" role="alert">
                    {{ error_message }}
                </div>
            </div>
        {% endif %}
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card border-warning">
                <div class="card-body">
                    <h3 class="orange">Iniciá sesión en Apicolapp</h3>
                    <form action="{% url 'login' %}" method="POST">
                        {% csrf_token %}
                        {{ login_form.as_p }}
                        <input type="submit" value="Iniciar Sesión" class="btn btn-warning"/>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
