
{% extends 'core/layout.html' %}
{% block content %}
    <div class="row">
        <div class="col-12">
            <div class="card border-warning">
                <div class="card-body">
                    {% if validlink %}
                        <h3 class="orange">Seleccione una nueva contraseña</h3>

                        <form method="post">
                            <p>
                                Por favor, ingrese su nueva clave dos veces, para asegurarnos de
                                que la ha escrito correctamente.
                            </p>

                            {% csrf_token %}
                            {{ form.as_p }}

                            <input type="submit" value="Cambiar contraseña" class="btn btn-warning"/>
                        </form>
                    {% else %}
                        <h3 class="orange">El link utilizado es incorrecto.</h3>
                            <p> 
                                No se puede reestablecer la contraseña porque el link utilizado no
                                es válido. Esto puede deberse a que ya fue utilizado para cambiar
                                la contraseña con anterioridad.
                            </p>

                    {% endif %}

                </div>
            </div>
        </div>
    </div>

{% endblock %}
