{% extends 'core/layout.html' %}
{% block content %}
    <div class="row">
        <div class="col-12">
            <div class="card border-warning">
                <div class="card-body">
                    <h3 class="orange">Contraseña cambiada con éxito.</h3>
                    <p> 
                       La nueva contraseña seleccionada ha sido guardada. 
                    </p>
                    <p><a href="{{ login_url }}"> Iniciar sesión </a></p>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
