{% extends 'core/layout.html' %}
{% block content %}
    <div class="row">
        <div class="col-12">
            <div class="card border-warning">
                <div class="card-body">
                    <h3 class="orange">Revisá tu casilla de correo</h3>

                        <p> 
                            Si el correo ingresado pertenece a una cuenta activa de Apilcolapp, te
                            enviamos un correo electrónico con una url para que puedas cambiar tu
                            contraseña.
                        </p>
                        <p> 
                            Si no recibiste ningún correo, asegurate que ingresaste el mismo
                            correo que utilizaste para crear tu cuenta, y revisá la carpeta de
                            spam o correo electrónico no deseado.
                        </p>


                </div>
            </div>
        </div>
    </div>

{% endblock %}
