{% extends 'core/layout.html' %}
{% block content %}
    <div class="row">
        <div class="col-12">
            <div class="card border-warning">
                <div class="card-body">
                    <h3 class="orange">Cambiar la contraseña</h3>

                    <form method="post" action="{% url 'password_reset' %}">
                        {% csrf_token %}
                        {{ form.as_p }}

                        <p> 
                            Te estaremos enviando un mail con un link para que puedas cambiar
                            tu contraseña.
                        </p>

                        <input type="submit" value="Iniciar Sesión" class="btn btn-warning"/>
                        <input type="hidden" name="next" value="{{ next }}" />
                    </form>

                </div>
            </div>
        </div>
    </div>

{% endblock %}
