{% extends 'core/layout.html' %}
{% block content %}
    <div class="row">
        <div class="col-12">
            <div class="card border-warning">
                <div class="card-body">
                    <h3 class="orange">Cambiar la contraseña</h3>
                    <p> Ingresá una nueva contraseña para tu cuenta</p>

                    <form method="post" action="{% url 'password_change' %}">
                        {% csrf_token %}
                        {{ form.as_p }}

                        <input type="submit" value="Iniciar Sesión" class="btn btn-warning"/>
                        <input type="hidden" name="next" value="{{ next }}" />
                    </form>

                    <p><a href="{% url 'password_reset' %}">Olvidaste tu contraseña?</a></p>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
