{% extends 'core/layout.html' %}

{% block content %}

<div class="row">
    <div class="col">
        <h1 class="orange">Gestión de la actividad</h1>
        <p> Se muestran los datos desde {{ from_date }} hasta {{ to_date }}.</p>
        <p> Seleccioná otro rango de fechas: </p>
        <form action="{% url 'accounting_index' %}" autocomplete="off" method="GET">
            {{ dates_form }}
            <input type="submit" value="Cargar fecha" class="btn btn-warning"/>
        </form>
    </div>
</div>

<hr/>

<div class="row">
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Resultados</h4>
                <p class="card-text"> Ganancia obtenida (Ingresos - Gastos) </p>
                {% if profit %}
                    <div style="color: green">
                {% else %}
                    <div style="color: red">
                {% endif %}
                        <h2 class="card-text text-center">${{ result }}</h2>
                    </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Ingresos</h4>
                <p class="card-text">Se registraron {{ sales.total }} ventas por {{ sales.total_kg }}kg en total.</p>
                <h5 class="card-text text-center">${{ sales.total_income }}</h5>
                <div class="text-right">
                    <a href="{% url 'sales_list' %}" class="btn btn-warning text-right">Ver detalle</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Gastos</h4>
                <p class="card-text">Se registraron {{ purchases_count }} compras de {{ products_count }} productos distintos.</p>
                <h5 class="card-text text-center">${{ invested_money }}</h5>
                <div class="text-right">
                    <a href="{% url 'purchase_list' %}" class="btn btn-warning text-right">Ver detalle</a>
                </div>
            </div>
        </div>
    </div>

</div>

{% endblock %}

{% block extra_css %}
    {% include "core/datepickerform-css.html" %}
{% endblock %}
{% block extra_js %}
    {% include "core/datepickerform-js.html" %}
{% endblock %}
