{% extends 'core/layout.html' %}

{% block content %}
    <div class="row">
        <div class="col-12">
            <div class="card border-warning">
                <div class="card-body">
                    <h3 class="orange">Carga de un nuevo producto en el sistema</h3>
                    <form action="{% url 'product_new'%}?next=purchase" method="POST">
                        {% csrf_token %}
                        {{ product_form.as_p }}
                        <input type="submit" value="Cargar producto" class="btn btn-warning"/>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
