{% extends 'core/layout.html' %}

{% block content %}
    <div class="row">
        <div class="col-12">
            <h2></h2>
        </div>
    </div>
    <div class="row">
        {% if error_message %}
            <div class="col-12">
                <div class="alert alert-danger" role="alert">
                    {{ error_message }}
                </div>
            </div>
        {% endif %}
    </div>
    <div class="card border-warning">
        <div class="card-body">
            <div class="row">
                <div class="col-12">
                    {% if sale_instance %}
                        <h3 class="orange">Actualizá los datos de esta venta</h3>
                        <form action="{% url 'sale_edit' sale_instance.pk %}" method="POST" autocomplete="off">
                    {% else %}
                        <h3 class="orange">Cargá los datos de tu venta</h3>
                        <form action="{% url 'sale_new' %}" method="POST" autocomplete="off">
                    {% endif %}
                            {% csrf_token %}
                            {{ sale_form.as_p }}
                            <input type="submit" value="Guardar" class="btn btn-warning"/>
                        </form>

                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <a class="btn btn-outline-warning btn-lg" href="{% url 'sales_list' %}">
                        Ver mis ventas
                    </a>
                </div>
                {% if sale_instance %}
                <div class="col-6">
                    <a class="btn btn-danger btn-lg float-right" href="{% url 'sale_delete' sale_instance.pk %}">
                        Eliminar
                    </a>
                </div>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}

{% block extra_css %}
    {% include "core/datepickerform-css.html" %}
{% endblock %}
{% block extra_js %}
    {% include "core/datepickerform-js.html" %}
{% endblock %}
