{% load staticfiles %}

{% block extra_js %}
    <script src="{% static 'vendor/bootsrap/js/bootstrap-datepicker.min.js' %}"></script>
    <script src="{% static 'vendor/bootsrap/js/bootstrap-datepicker.es.min.js' %}"></script>
    <script>
        $(document).ready(function(){
          var date_input=$('input[id="datepicker_field"]');
          var container=$('.bootstrap-iso form').length>0 ? $('.bootstrap-iso form').parent() : "body";
          var options={
            format: 'dd/mm/yyyy',
            container: container,
            todayHighlight: true,
            language: 'es',
            autoclose: true,
          };
          date_input.datepicker(options);
        })
    </script>
{% endblock %}
