{% extends 'core/layout.html' %}

{% block content %}
    <div class="row">
        <div class="col">
            <h1 class="text-center">Gestión de gastos y apiarios</h1>
            <h3 class="text-center orange">Cooperativa apícola de María Juana</h3>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <hr/>
            <h3> ¡Bienvenido{% if user.is_authenticated %} {{ user.username }}{% endif %}!</h3>
            <p>
                Esta aplicación web de la Universidad Tecnológica Nacional - Facultad Regional 
                Rafaela, tiene como objetivo brindar un asesoramiento a la Cooperativa Apícola de 
                María Juana.
            </p>
            <hr/>
        </div>
    </div>

    <div class="row">
    {% if user.is_authenticated %}
        <div class="col-xs-12 col-lg-6">
            <div class="card mt-2">
                <div class="card-body">
                    <h5 class="card-title">Mis Apiarios</h5>
                    <p class="card-text">
                        Registrá tus apiarios, paneles y núcleos. Vas a poder llevar el control
                        de las cosechas, y sus rendimientos.
                    </p>

                    <a href="{% url 'apiary_index' %}" class="btn btn-warning mt-2">Ir a mis apiarios</a>
                    <a href="{% url 'harvest_new' %}" class="btn btn-warning mt-2">Cargar cosecha</a>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-lg-6">
            <div class="card mt-2">
                <div class="card-body">
                    <h5 class="card-title">Compras y Ventas</h5>
                    <p class="card-text">
                        Cargá y analizá tus gastos y tus ingresos. Esta aplicación te permite hacer un
                        seguimiento de tus gastos y el rendimiento de tus insumos.
                    </p>
                    <a href="{% url 'purchase_product' %}" class="btn btn-warning mt-2">Cargar compra</a>
                    <a href="{% url 'sale_new' %}" class="btn btn-warning mt-2">Cargar venta</a>
                    <a href="{% url 'accounting_index' %}" class="btn btn-warning mt-2">Ver resultados</a>
                </div>
            </div>
        </div>
    {% else %}
        <div class="col">
            <p>Por favor iniciá sesión para acceder a la aplicación.</p>
            <a class="btn btn-outline-warning btn-lg" href="{% url 'login' %}">
            Iniciar Sesión
            </a>
            <a class="btn btn-outline-warning btn-lg" href="{% url 'signup' %}">
            Registrme
            </a>
            <hr/>
        </div>
    {% endif %}
    </div>

{% endblock %}
