{% extends 'core/layout.html' %}

{% block content %}
    <div class="row">
        <div class="col">
            <h1 class="text-center">Gestión de gastos y apiarios</h1>
            <h3 class="text-center orange">Cooperativa apícola de María Juana</h3>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <hr/>
            <h3> ¡Bienvenido!</h3>
            <p>Por favor iniciá sesión para acceder a la aplicación.</p>
            <a class="btn btn-outline-warning btn-lg" href="{% url 'login' %}">
                Iniciar Sesión
            </a>
            <button type="button" class="btn btn-outline-warning btn-lg">
                Registrme
            </button>
            <hr/>
        </div>
    </div>

    <div class="row">
      <div class="col-lg-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Mis Apiarios</h5>
            <p class="card-text">
                Registrá tus apiarios, paneles y núcleos. Vas a poder llevar el control
                de las cosechas, y sus rendimientos.
            </p>

            <a href="#" class="btn btn-warning">Ir a mis apiarios</a>
            <a href="#" class="btn btn-warning">Cargar cosecha</a>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Compras y Gastos</h5>
            <p class="card-text">
                Cargá tus compras y mirá tus gastos. Esta aplicación te permite hacer un
                seguimiento de tus gastos y el rendimiento de tus insumos.
            </p>
            <a href="#" class="btn btn-warning">Cargar compra</a>
            <a href="#" class="btn btn-warning">Cargar inventario</a>
            <a href="#" class="btn btn-warning">Ver gastos</a>
          </div>
        </div>
      </div>
    </div>

{% endblock %}
