{% extends 'core/layout.html' %}

{% block content %}
    <div class="row">
        <div class="col">
            <h1 class="text-center">Gestión de gastos y apiarios</h1>
            <h3 class="text-center">Cooperativa apícola de María Juana</h3>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="text-center" style="padding: 80px; background-color:red" >
                <button type="button" class="btn btn-outline-dark btn-lg">
                    Iniciar Sesión
                </button>
            </div>

        </div>
    </div>
{% endblock %}
